
<ion-navbar>
  <ion-title>chat</ion-title>
</ion-navbar>


<div *ngIf="login">
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

    <button ion-button block outline (click)="loginUser()">Sign In</button>
</div>

<div *ngIf="listachat">
  <ion-label>GRUPPI</ion-label>
    <ion-item (click)="aprichatgruppo(insegnamento.nome)" *ngFor="let insegnamento of insegnamenti">
      <ion-avatar item-start>
        <ion-icon name="contacts" item-start></ion-icon>
      </ion-avatar>
      <h2>{{insegnamento.nome}}</h2>
    </ion-item>

  <ion-label>AMICI</ion-label>
  <ion-item (click)="aprichat(studente.matricola,studente.nome+' '+studente.cognome)" *ngFor="let studente of studenti">
    <ion-avatar item-start>
      <ion-icon name="contact" item-start></ion-icon>
    </ion-avatar>
    <h2>{{studente.nome}} {{studente.cognome}}</h2>
  </ion-item>
</div>

