<ion-header>
  <div *ngIf="Segnalazione">
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Manda una segnalazione</ion-title>
  </ion-navbar>
  </div>

  <div *ngIf="Voto">
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Vota</ion-title>
    </ion-navbar>
  </div>

  <div *ngIf="Info">
    <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Informazioni dettagliate</ion-title>
    </ion-navbar>
  </div>
</ion-header>

<ion-content padding>
    <div *ngIf="Segnalazione">
    <ion-list>
      <ion-item>
        <ion-label>Aula</ion-label>
        <ion-select [(ngModel)]="aula">
          <ion-option *ngFor="let a of aule" value="{{a.idAula}}">{{a.nome}} </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Descrizione" [(ngModel)]="descrizione"></ion-input>
      </ion-item>

      <button ion-button full icon-left (click)="save()">
        Add Event
      </button>
    </ion-list>
    </div>

  <div *ngIf="Mappa" #map id="map_canvas" style="width:100%; height:60%">
  </div>

  <div *ngIf="Info">
    <ion-list>
      <ion-item>
        <ion-label>Insegnamento: {{param7}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo: {{param6}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Docente: {{param3}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Aula:{{param2}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data inizio: {{param8|date : 'dd MMM yyyy hh:mm'}}</ion-label>
      </ion-item>
    </ion-list>


  </div>

  <div *ngIf="Info2">
    <ion-list>
      <ion-item>
        <ion-label>Insegnamento:{{param7}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Aula:{{param2}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data inizio: {{param9|date : 'dd MMM yyyy hh:mm'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Data fine: {{param10|date : 'dd MMM yyyy hh:mm'}}</ion-label>
      </ion-item>
    </ion-list>


  </div>


  <div *ngIf="Voto">
    Rilascia un feedback se il materiale caricato dal professore è risultato utile o meno ai fini dello svolgimento della lezione.<br>
    <font size="5" align-items-center> NOME FILE:{{param13.nome}}</font><br>
    <font size="2" align-items-center> DESCRIZIONE:{{param13.descrizione}}</font><br>
    <img sialign-items-center src="assets/img/file.png" height="80" width="70">
    <ion-buttons align-items-center color="primary">
      <button [disabled]="!isenabled" class="button-small" icon-only *ngFor="let num of [1,2,3,4,5]" (click)="rate(num,1)">
        <ion-icon name="star" [ngStyle]="{'color':getColor(num)}"></ion-icon>
      </button><br>
    </ion-buttons>
  </div>

  <div *ngIf="Voto2">
    Hai già rilasciato un feedback!!
  </div>

  </ion-content>
