<ion-header>
  <ion-navbar>
    <ion-title>Segreteria Didattica</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="light">
    <ion-segment [(ngModel)]="menu" color="dark">
      <ion-segment-button value="aggiungi">
        <ion-icon  name="add" color="primary" item-start></ion-icon>
        Aggiungi
      </ion-segment-button>
      <ion-segment-button value="modifica">
        <ion-icon  name="create" color="primary" item-start></ion-icon>
        Modifica
      </ion-segment-button>
      <ion-segment-button value="cancella">
        <ion-icon  name="trash" color="primary" item-start></ion-icon>
        Cancella
      </ion-segment-button>
      <ion-segment-button value="segnalazione">
        <ion-icon  name="bookmark" color="primary" item-start></ion-icon>
        Segnalazioni
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="menu">
    <ion-list *ngSwitchCase="'aggiungi'">
      <ion-list>
        <button ion-item *ngFor="let i of items" (click)="aggiungi(i.title)" icon-start>
          <ion-icon  [name]="i.icon"  [ngStyle]="{'color': i.color}" item-start></ion-icon>
          {{ i.title }}
        </button>
        <button ion-item (click)="aggiungi('Calendario')" icon-start>
          <ion-icon  name="calendar" color="dark" item-start></ion-icon>
          Calendario
        </button>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'modifica'">
        <ion-list>
          <button ion-item *ngFor="let i of items" (click)="modifica(i.title)" icon-start>
            <ion-icon [name]="i.icon"  [ngStyle]="{'color': i.color}" item-start></ion-icon>
            {{ i.title }}
          </button>
        </ion-list>
      </ion-list>

      <ion-list *ngSwitchCase="'cancella'">
          <ion-list>
            <button ion-item *ngFor="let i of items" (click)="cancella(i.title)" icon-start>
              <ion-icon  [name]="i.icon"  [ngStyle]="{'color': i.color}" item-start></ion-icon>
              {{ i.title }}
            </button>
          </ion-list>
        </ion-list>

        <ion-list *ngSwitchCase="'segnalazione'">
              <ion-item *ngFor="let item of items1"  icon-start>
                <ion-icon name="bookmarks" item-start><br><font size="2">{{item.data|date : 'dd MMM yyyy'}}</font></ion-icon>
                  DOCENTE:{{ item.nomedocente }} <br> AULA:{{ item.nomeaula}} <br> STATO:{{item.stato}}
                <button item-end (click)="show(item.nomeaula,item.descrizione)" ion-button color="primary" round icon-start>
                  <ion-icon name='information-circle' is-active="false"></ion-icon>
                </button>
                <button item-end (click)="modificaSegnalazione(item.idSegnalazione,item.descrizione)" ion-button color="primary" round icon-start>
                  <ion-icon name='construct' is-active="false"></ion-icon>
                </button>
                <button item-end (click)="cancellaSegnalazione(item.idSegnalazione)" ion-button color="primary" round icon-start>
                  <ion-icon name='trash' is-active="false"></ion-icon>
                </button>
              </ion-item>
          </ion-list>
  </div>
</ion-content>
