<ion-header>
      <ion-navbar color="primary">
        <ion-title>{{viewTitle}}</ion-title>
        <ion-buttons end>
          <button ion-button [disabled]="isToday" (click)="today()">Today</button>
          <div *ngIf="Docenteee">
            <button ion-button (click)="changeMode('month')">M</button>
            <button ion-button (click)="changeMode('week')">W</button>
            <button ion-button (click)="changeMode('day')">D</button>
          </div>
          <button ion-button (click)="loadEvents()">Carica Lezioni</button>
          <button ion-button (click)="loadEvents1()">Carica Esami</button>
        </ion-buttons>
      </ion-navbar>
    </ion-header>

    <ion-content *ngIf="Docenteee">
      <calendar [eventSource]="eventSource"
                [calendarMode]="calendar.mode"
                [currentDate]="calendar.currentDate"
                (onCurrentDateChanged)="onCurrentDateChanged($event)"
                (onEventSelected)="onEventSelected($event)"
                (onTitleChanged)="onViewTitleChanged($event)"
                (onTimeSelected)="onTimeSelected($event)"
                step="30">
      </calendar>
      <ion-label  *ngFor="let item of events">{{item.title}}
      </ion-label>
    </ion-content>

  <ion-content *ngIf="Studenteee">
    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30">
    </calendar>
    <ion-label  *ngFor="let item of events">{{item.title}}
    </ion-label>
  </ion-content>

<ion-content *ngIf="Segreteriadidattica">
  <div>
  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>
  </div>
  <div *ngIf="Lezione">
    <ion-item>
      <ion-label>Orario inizio lezione</ion-label>
      <ion-datetime [disabled]="!enabled" displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="appoiment" (ngModelChange)="dateChanged1()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Orario fine lezione</ion-label>
      <ion-datetime [disabled]="!enabled" displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="appoiment1" (ngModelChange)="dateChanged2()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Aula</ion-label>
      <ion-select [(ngModel)]="aula" [disabled]="!appoiment || !appoiment1 || !enabled" >
        <ion-option *ngFor="let a of items" value="{{a.idAula}}">{{a.nome}} </ion-option>
      </ion-select>
    </ion-item>

    <button ion-button full color='light' (click)="addlezione(appoiment,appoiment1,param.idInsegnamento,aula)" [disabled]="!appoiment || !appoiment1 || !enabled">Aggiungi lezione</button>

   </div>



  <div *ngIf="Esame">
    <ion-item>
      <ion-label>Orario inizio esame</ion-label>
      <ion-datetime [disabled]="!enabled" displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="appoiment" (ngModelChange)="dateChanged1()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Orario fine esame</ion-label>
      <ion-datetime [disabled]="!enabled" displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="appoiment1" (ngModelChange)="dateChanged2()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Aula</ion-label>
      <ion-select [(ngModel)]="aula" [disabled]="!appoiment || !appoiment1 || !enabled" >
        <ion-option *ngFor="let a of items" value="{{a.idAula}}">{{a.nome}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tipologia</ion-label>
      <ion-select [(ngModel)]="tipo" [disabled]="!appoiment || !appoiment1 || !enabled">
        <ion-option value="scritto">Scritto</ion-option>
        <ion-option value="orale">Orale</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button full color='light' (click)="addesame(appoiment,appoiment1,param.idInsegnamento,aula,tipo)" [disabled]="!appoiment || !appoiment1 || !enabled">Aggiungi lezione</button>
  </div>
</ion-content>


