<!--
  Generated template for the AggiungiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modifica</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <div *ngIf="Corsoo">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-label (click)="modificaCorso('ModificaCorso',item.nome,item.facolta,item.durata,item.livello,item.idCorso,item.abilitazione)" *ngFor="let item of items">
            {{ item.nome }}
          </ion-label>
        </ion-list>
    </div>

    <div *ngIf="Insegnamentoo">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-label (click)="modificaInsegnamento('ModificaInsegnamento',item.nome,item.cfu,item.semestre)" *ngFor="let item of items">
            {{ item.nome }}
          </ion-label>
        </ion-list>
    </div>

    <div *ngIf="Aulaa">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-label (click)="modificaAula('ModificaAula',item.nome, item.grandezza, item.latitudine, item.longitudine,item.idAula)" *ngFor="let item of items">
            {{ item.nome }}
          </ion-label>
        </ion-list>
    </div>

    <div *ngIf="Strumentoo">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-label (click)="modificaStrumentazione('ModificaStrumento',item.nome,item.abilitazione,item.idStrumento)" *ngFor="let item of items">
            {{ item.nome }}
          </ion-label>
        </ion-list>
    </div>

    <div *ngIf="Studentee">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <table>
          <tr><td>MATRICOLA &emsp;</td><td>NOME &emsp;</td><td>COGNOME &emsp;</td></tr>
          <tr (click)="modificaStudente(item.nome)" *ngFor="let item of items"><td>{{ item.matricola }}</td><td>{{ item.nome }}</td><td>{{ item.cognome }}</td></tr>
          </table>
        </ion-list>
    </div>

    <div *ngIf="Docentee">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-label (click)="modificaDocente(item.nome)" *ngFor="let item of items">
            {{ item.nome }}{{ item.cognome }}
          </ion-label>
        </ion-list>
    </div>

   
</ion-content>
