<!--
  Generated template for the AggiungiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modifica</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <div *ngIf="Studente">
      <ion-list>
        <p>STUDENTE</p>
        <ion-item>
          <ion-label>name      </ion-label>
            <ion-input type = "text" #name>      
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>surname         </ion-label>
              <ion-input type = "text" #surname>      
              </ion-input>

        </ion-item>
        <ion-item>
          <ion-label>email         </ion-label>
            <ion-input type = "email" #email>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>password         </ion-label>
            <ion-input type = "password" #password>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>data         </ion-label>
            <ion-input type = "date" data-ng-pattern="YYYY-MM-DD" #data>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>matricola         </ion-label>
            <ion-input type = "number" #matricola>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>indirizzo         </ion-label>
            <ion-input type = "text" #indirizzo>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Corso</ion-label>
          <ion-select [(ngModel)]="nomecorso">
            <ion-option *ngFor="let c of corsi">{{c.nome}}</ion-option>
          </ion-select>
      </ion-item>
        
      <button ion-button full color='light' (click)="addStudente(nomecorso,name.value,surname.value,email.value,password.value,data.value,indirizzo.value,matricola.value)">Registra studente</button>
      </ion-list>
    </div>

    <div *ngIf="Corso">
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <button ion-button full color='light' (click)="modificaCorso(item.nome)" *ngFor="let item of items">
            {{ item.nome }}
          </button>
        </ion-list>
    </div>

    <div *ngIf="Docente">
      <ion-list>
        <p>DOCENTE</p>
        <ion-item>
          <ion-label>name      </ion-label>
            <ion-input type = "text" #name>      
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>surname         </ion-label>
              <ion-input type = "text" #surname>      
              </ion-input>

        </ion-item>
        <ion-item>
          <ion-label>email         </ion-label>
            <ion-input type = "email" #email>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>password         </ion-label>
            <ion-input type = "password" #password>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>data         </ion-label>
            <ion-input type = "date" data-ng-pattern="YYYY-MM-DD" #data>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>stipendio         </ion-label>
            <ion-input type = "number" #stipendio>      
            </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>indirizzo         </ion-label>
            <ion-input type = "text" #indirizzo>      
            </ion-input>
        </ion-item>

        
      <button ion-button full color='light' (click)="addDocente(name.value,surname.value,email.value,password.value,data.value,indirizzo.value,stipendio.value)">Registra Docente</button>
      </ion-list>
    </div>


    <div *ngIf="Insegnamento">
      <ion-list>
        <p>INSEGNAMENTO</p>
        <ion-item>
          <ion-label>nome      </ion-label>
            <ion-input type = "text" #nome>      
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Corso</ion-label>
            <ion-select [(ngModel)]="nomecorso">
              <ion-option *ngFor="let c of corsi">{{c.nome}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>anno         </ion-label>
          <ion-select [(ngModel)]="anno">
            <ion-option *ngFor="let number of [1,2,3]">{{number}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>semestre         </ion-label>
          <ion-select [(ngModel)]="semestre">
            <ion-option *ngFor="let number of [1,2]">{{number}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>CFU         </ion-label>
          <ion-select [(ngModel)]="cfu">
            <ion-option *ngFor="let number of [3,4,5,6,7,8,9,10,11,12]">{{number}}</ion-option>
          </ion-select>
      </ion-item>
        
      <button ion-button full color='light' (click)="addInsegnamento(nomecorso,nome.value,cfu,anno,semestre)">Aggiungi insegnamento</button>
      </ion-list>
    </div>

    <div *ngIf="Aula">
      <ion-list>
        <p>INSEGNAMENTO</p>
        <ion-item>
          <ion-label>nome      </ion-label>
            <ion-input type = "text" #nome>      
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Grandezza</ion-label>
            <ion-select [(ngModel)]="grandezza">
              <ion-option value="piccola">piccola(70 persone)</ion-option>
              <ion-option value="media">media(100 persone)</ion-option>
              <ion-option value="grande">grande(120 persone)</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Proiettore</ion-label>
          <ion-toggle [(ngModel)]="proiettore"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Aria condizionata</ion-label>
          <ion-toggle [(ngModel)]="ariacondizionata"></ion-toggle>
        </ion-item>

        
      <button ion-button full color='light' (click)="addAula(nome.value,grandezza,proiettore,ariacondizionata)">Aggiungi aula</button>
      </ion-list>
    </div>





    <div *ngIf="ModificaCorso">
        <ion-list>
            <p>CORSO</p>
            <ion-item>
              <ion-label>nome      </ion-label>
                <ion-input type = "text" #nome>      
                </ion-input>
            </ion-item>
    
            <ion-item>
                <ion-label>facolta         </ion-label>
                  <ion-input type = "text" #facolta>      
                  </ion-input>
    
            </ion-item>
            <ion-item>
              <ion-label>durata         </ion-label>
                <ion-input type = "number" #durata>      
                </ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label>livello         </ion-label>
                <ion-input type = "text" #livello>      
                </ion-input>
            </ion-item>
            
          <button ion-button full color='light' (click)="aggiornaCorso()">Modifica corso</button>
          </ion-list>
    </div>

</ion-content>
